/** Copyright © Andrés Fernández Burón
 *  November of 2021
 *
 *  Blackboard with vanilla Javascript
 *  Application made using HTML, CSS, and JavaScript with the W3C event model.
 *
 *  File with the CSS positioning of the application view.
 */

/* -- ALL THE DOCUMENT -------------------------------- */
*, *::before, *::after {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh; 
    overflow: hidden;
}

header {
    height: 4vh;
}
#control {
    height: 5vh;
}
footer {
    height: 3vh;
}

/* -- THE PAGE HEADER --------------------------------- */
header {
    overflow: hidden;
}

/* -- THE PAGE MAIN ----------------------------------- */

#control-panel {
    position: relative;
    z-index: 5;
}

#app {
    position: absolute;
    top: 10vh;
    height: 85vh;
    z-index: 2;
    padding: 0 5px;
}

#feedback {
    z-index: 4;
    position: absolute;
    top: 20vh;
    left: 30vw;
    width: 60vw;
    padding: 4vh 2vw 2vh 2vw;
}

/* -- THE PAGE FOOTER --------------------------------- */
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}
footer p {
    display: inline-block;
}