/** Copyright © Andrés Fernández Burón
 *  November of 2021
 *
 *  Blackboard with vanilla Javascript
 *  Application made using HTML, CSS, and JavaScript with the W3C event model.
 *
 *  File with the responsive CSS styles of the application view.
 */

/* -- SMALL VIEW -------------------------------------- */
@media screen and (max-width: 480px) {

    /* ----  THE PAGE FOOTER ---- */
    footer p {
        width: 48vw;
        font-size: .8em;
    }
    footer p:first-child {
        display: none;
    }

}

/* -- MEDIUM AND BIG VIEW ----------------------------- */
@media screen and (min-width: 481px) {

    /* ----  ALL THE DOCUMENT ---- */
    button {
        font-size: 1em;
    }

    /* ----  THE OPTIONS PANEL ---- */
    #opciones {
        max-width: 40vw;
    }

    /* ----  THE FEEDBACK POPUP ---- */
    #feedback p {
        font-size: 1.5em;
        text-shadow: 2px 1px 0 darkslategray;
    }

    /* ----  THE PAGE FOOTER ---- */
    footer p {
        width: 30vw;
    }
}
